<% layout("/layouts/boilerplate") %>



<div class="row row-cols-lg-3 row-cols-md-3  row-cols-sm-3">
  <% for (let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listings-link">
      <div class="card col listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
        <div class="card-img-overlay">
          
        </div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %> </b> <br>
<<<<<<< HEAD
            &#x20b9; <%= listing.price.toLocaleString('en-IN') %> / night
=======
            &#x20b9; <%= listing.price.toLocaleString('en-IN') %> / Month
>>>>>>> faf72e3 (Initial commit to new repo)
          </p>
        </div>
      </div>
    </a>
  <% } %>
</div>

 